<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignGuru About</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
    <link rel="stylesheet" href="/static/css/style1.css">
    <script src="https://kit.fontawesome.com/0cc7e96959.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                SignGuru
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-3 active" aria-current="page" href="/about">About</a>
                    </li>
                    {%if 'user_id' in session %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="/video_page">Tutorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-4" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-4" href="/logout">Logout</a>
                    </li>
                    
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="/video_page">Tutorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-4" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn" id="loginBtn">Log In</button>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/static/img/hero.jpg">
        <div>
            <h2 class="text-white">
                About
            </h2>
        </div>
        
    </div>

    <div class="container-fluid mt-60">
        <div class="row mb-4">
            <h2 class="col-12 text-primary">
                About SignGuru Website
            </h2>
        </div>
        <div class="row mb-74 row-1640">            
            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <img src="/static/img/about.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <div class="about-img-text">
                    <p class="mb-4">
                        <b>SignGuru</b> was developed as part of a final year project by an ambitious student in Electronic Engineering (Computer). 
                        Our mission is to leverage technology to facilitate communication inclusivity for all. 
                        This project combines the practical application of <b>machine learning, web development, and embedded systems</b> to create a robust tool that helps bridge the gap between the deaf and the hearing.
                    </p>
                    <p>
                        <b>SignGuru</b> is more than just a technological innovation; it's a commitment to inclusivity and community empowerment. By continuously refining our technology, we strive to support and enhance communication for the deaf and hard-of-hearing across Malaysia.
                    </p> 
                </div>                
            </div>
        </div>
        <div class="row mb-50">
            <div class="col-md-6 col-12">
                <div class="about-2-col">
                    <h2 class="text-primary mb-4">
                        Our technology stack includes :
                    </h2>
                </div>                
            </div> 
    
        </div> <!-- row -->
        <div class="row mb-50">
            <div class="col-md-4 col-12">
                <div class="about-3-col">
                    <div class="about-icon-container mb-5">
                        <i class="fa-solid fa-hands fa-3x text-primary"></i>
                    </div>                
                    <h2 class="text-about mb-4">MediaPipe & OpenCV</h2>
                    <p class="mb-4">These tools allow us to capture detailed hand gestures and movements with high precision, ensuring that every nuance of sign language is recognized and accurately translated.</p>
                </div>                
            </div>
            <div class="col-md-4 col-12">
                <div class="about-3-col">
                    <div class="about-icon-container mb-5">
                        <i class="fa-solid fa-brain fa-3x text-primary"></i>
                    </div>                
                    <h2 class="text-about mb-4">TensorFlow and LSTM Networks </h2>
                    <p class="mb-50">At the core of SignGuru is a powerful machine learning model that predicts and processes sign language sequences, turning dynamic gestures into comprehensible language.</p>                
                    <div class="text-center">
                        <a href="/" class="btn btn-primary">Read More</a>
                    </div>
                </div>                
            </div>
            <div class="col-md-4 col-12">
                <div class="about-3-col">
                    <div class="about-icon-container mb-5">
                        <i class="fa-solid fa-server fa-3x text-primary"></i>
                    </div>                
                    <h2 class="text-about mb-4">Raspberry Pi 5</h2>
                    <p class="mb-4">This cutting-edge device serves as the backbone of our web server, delivering low-latency performance and reliable uptime for users accessing our service globally. </p>
                </div>                
            </div>
        </div>
    </div> <!-- container-fluid, tm-container-content -->
   <!-- Footer -->
   <footer class="bg-gray pt-5 pb-3 text-gray footer">
    <div class="container-fluid container-small">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 px-5 mb-5">
                <h3 class="text-primary mb-4 footer-title">About SignGuru</h3>
                <p>SignGuru was developed as part of a final year project by an ambitious student in Electronic Engineering (Computer).</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 px-5 mb-5 text-right">
                <p>My social media here, contact me if any question and feedback.</p>
                <ul class="social-links d-flex justify-content-end pl-0 mb-5">
                    <!-- <li class="mb-2"><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li> -->
                    <li class="mb-2"><a href="https://github.com/SamXQ00/FYP-sam.git"><i class="fab fa-github"></i></a></li>
                    <!-- <li class="mb-2"><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li> -->
                    <li class="mb-2"><a href="https://wa.me/60176846849"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                Copyright 2024 SAM XIAN QI. All rights reserved.
            </div>
            <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                Designed by SAM XIAN QI 10DTK21F2024
            </div>
        </div>
    </div>
</footer>
        <!-- login and register -->
        <div id="loginModal" class="modal" style="display:none;">
            <div class="modal-content">
              <div class="container">
                <!-- login form -->
                <div class="login form">
                  <header>Login</header>
                  <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Enter your email" required>
                    <input type="password" name="password" placeholder="Enter your password" required>
                    <a href="#">Forgot password?</a>
                    <input type="submit" class="button" value="Login">
                    <div class="signup">
                      Don't have an account?
                      <label for="check">Signup</label>
                    </div>
                  </form>
                </div>
                <!-- register form -->
                <div class="registration form" style="display:none;">
                  <header>Signup</header>
                  <form action="/register" method="post">
                    <input type="text" name="username" placeholder="Enter your username" required>
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <input type="password" name="password" placeholder="Create a password" required>
                    <input type="password" name="confirm_password" placeholder="Confirm your password" required>
                    <input type="submit" class="button" value="Signup">
                    <div class="signup">
                      Already have an account?
                      <label for="check">Login</label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div> 
    <script src="/static/js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
    <script>
        // Show modal
        document.getElementById('loginBtn').addEventListener('click', function() {
            document.getElementById('loginModal').style.display = 'block';
        });
    
        // Hide modal when clicking anywhere outside of the modal content
        window.onclick = function(event) {
            var modal = document.getElementById('loginModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        };
    
        // Toggle between login and signup forms within the modal
        document.querySelectorAll('.signup label').forEach(item => {
            item.addEventListener('click', () => {
                var container = document.querySelector('.container');
                var loginForm = container.querySelector('.login.form');
                var registrationForm = container.querySelector('.registration.form');
                // Toggle display property
                loginForm.style.display = loginForm.style.display === 'none' ? 'block' : 'none';
                registrationForm.style.display = registrationForm.style.display === 'none' ? 'block' : 'none';
            });
        });
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          document.querySelectorAll('.hidden-message').forEach(function(item) {
            var category = item.getAttribute('data-category');
            var message = item.getAttribute('data-message');
            var title = "";
            switch (category) {
              case "success":
                title = "Success";
                break;
              case "error":
                title = "Error";
                break;
              case "warning":
                title = "Warning";
                break;
              default:
                title = "Info";
            }
            swal({
              title: title,
              text: message,
              icon: category,
              button: "OK",
            });
          });
        });
        </script>
    
        
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="hidden-message" data-category="{{ category }}" data-message="{{ message }}"></div>
    {% endfor %}
    {% endwith %}
</body>
</html>